.testimonialColumn, .testimonialsSectionTitle{
    width: 100%;
}

@media (max-width: 700px) {
    .testimonialsSectionTitle {grid-column: span 2;}
    .testimonialColumn {grid-column: span 2;}
  }

@media (min-width: 701px) {
    .testimonialsSectionTitle {grid-column: span 6;}
    .testimonialColumn {grid-column: span 3;}
  }

@media (min-width: 1000px) {
    .testimonialsSectionTitle {grid-column: span 12;}
    .testimonialColumn {grid-column: span 3;}
  }