.headerNav ul{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 10px;
    column-gap: 20px;
}

.headerNav li {
    display: inline;
}

.headerNav a {
  color: black;
  text-decoration: none;
}

@media (max-width: 600px) {
    .headerNav ul{ flex-direction: column; }
  }

@media (min-width: 600px) {
    .headerNav ul{ flex-direction: row; }
  }