.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Markazi+Text:regular,medium,semibold,bold');
@import url('https://fonts.googleapis.com/css?family=Karla:extralight,light,regular,medium,semibold, bold, extrabold');

.displayTitle{
  font-size: 64px;
  font-family: 'Markazi Text';
  font-style: medium;
}

.subTitle{
  font-size: 40px;
  font-family: 'Markazi Text';
}

.leadTitle{
  font-size: 18px;
  font-family: 'Karla';
  font-style: medium;
}

.sectionTitle{
  font-size: 12px;
  font-family: 'Karla';
  font-weight: 900;
}

.sectionCategories{
  font-size: 16px;
  font-family: 'Karla';
  font-weight: 900;
}

.cardTitle{
  font-size: 18px;
  font-family: 'Karla';
  font-weight: bold;
}

.paragraphText{
  font-size: 16px;
  font-family: 'Karla';
  line-height: 1.5;
}

.highlighText{
  font-size: 16px;
  font-family: 'Karla';
  font-style: medium;
}

.highlightedSection{
  background-color: #495E57;
  color: #EDEFEE;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button{
  background-color: #F4CE14;
  height: 60px;
  width: 200px;
  border-radius: 16px;
  border-width: 0px;
}

h1, h2{
  margin: 0px;
}

img{
  border-radius: 16px;
}

/* button:hover{
  background-color: #495E57;
  color: #EDEFEE;
  height: 60px;
  width: 200px;
  border-radius: 16px;
  border-width: 0px;
} */

