.card{
    border-radius: 16px;
    background-color: #EDEFEE;
}

.card img{
    width: 100%;
}

.cardContent{
    padding: 1rem;
}

.cardHeader{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.cardContent h1{
    width: 75%;
}

.cardContent span{
    text-align: right;
    width:25%;
    color: #EE9972;
}

.card .paragraphText{
    min-height: 10rem;
}