.heroImage{
  max-width: 375px;
  max-height: 435px;
  display: block;
  margin-left: auto;
}

.heroSectionColumn h1{
  color: #F4CE14;
}

.heroSectionColumn .paragraphText{
  max-width: 400px;
}

@media (max-width: 700px) {
    .heroSectionColumn {grid-column: span 2;}
    .heroImage{
      max-width: 100%;
      max-height: 100%;
      margin-left: 0px;
    }  
  }

@media (min-width: 701px) {
    .heroSectionColumn {grid-column: span 3;}
    .heroImage{
      max-width: 80%;
      max-height: 100%;
    }
  }

@media (min-width: 1000px) {
    .heroSectionColumn {grid-column: span 6;}
    .heroImage{
      max-width: 75%;
      max-height: 100%;
    }
  }